@model pe.com.ciberelectrik.ui.Models.DetalleTicketPedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleTicketPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticketpedido.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketpedido.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numero }) |
    @Html.ActionLink("Back to List", "Index")
</p>
