@model pe.com.ciberelectrik.ui.Models.TicketPedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleado.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numero }) |
    @Html.ActionLink("Back to List", "Index")
</p>
