@model pe.com.ciberelectrik.ui.Models.Empleado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.distrito.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipodocumento.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipodocumento.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apepaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apepaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apematerno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apematerno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
